<?xml version="1.0" encoding="UTF-8"?>
<openerp>
	<data>
		<record id="open_so_tracker_action" model="ir.actions.client">
            <field name="name">SO Tracker Action</field>
            <field name="tag">print.out</field>
            <field name="params">
            	{
            		"redir":"http://192.168.9.26/OpenPrint/web/index.php?r=sale-order/index"
            	}
            </field>
        </record>
		<menuitem name="Sales Tracker" parent="base.menu_sales" id="sales_order_tracker_menu" action="open_so_tracker_action" />

		<record id="sale_order_received_dashboard_action" model="ir.actions.client">
            <field name="name">Order Received</field>
            <field name="tag">print.out</field>
            <field name="params">
            	{
            		"redir":"http://192.168.9.26/OpenPrint/web/index.php?r=sale-order/sales-achievement"
            	}
            </field>
        </record>
		<menuitem name="Sale Order Received" parent="base.menu_sales" id="sale_order_received_dashboard_menu" action="sale_order_received_dashboard_action" />




        <!-- SALES MAN TARGET -->
        <record model="ir.module.category" id="module_category_sales_man_target">
            <field name="name">Internal Move</field>
        </record>
        
        <!-- GROUP FOR ADMINISTRATOR / SUPER ADMIN USER -->
        <record model="res.groups" id="group_im_manager">
            <field name="category_id" ref="module_category_sales_man_target"/>
            <field name="name">Sales Man Target Manager</field>
        </record>
        
        <record model="ir.actions.act_window" id="yearly_target_action">
            <field name="name">Sales Man yearly Target</field>
            <field name="type">ir.actions.act_window</field>
            <field name="res_model">sales.man.target</field>
            <field name="view_type">form</field>
            <field name="view_mode">tree,form</field>
            <field name="filter" eval="True"/>
        </record>
        <menuitem name="Yearly Target" parent="base.menu_sales" id="yearly_target_menu" action="yearly_target_action" />
        <!-- END SALES MAN TARGET -->

        <!-- Activity
        Prospect
        Sales Summary
        Invoice Summary
        Executive Summary (By Group)
        Executive Summary (By Salesman) -->
        <!-- <menuitem name="Sales Prospect" id="report_sales_prospect" /> -->

        <record model="ir.module.category" id="module_category_report_sales_activity_timeline">
            <field name="name">Sales Activity Timeline Module</field>
        </record>
        

        <record model="res.groups" id="group_sales_activity_timeline">
            <field name="category_id" ref="module_category_report_sales_activity_timeline"/>
            <field name="name">Sales Activities Timeline</field>
        </record>
        
        <record id="sale_activity_timeline_action" model="ir.actions.client">
            <field name="name">Redir Sales Activity Timeline</field>
            <field name="tag">print.out</field>
            <field name="params">
                {
                    "redir":"http://192.168.9.26/OpenPrint/web/index.php?r=sales-activity/view-time-line"
                }
            </field>
        </record>
        <menuitem name="Sales Report" id="sales_report" parent="base.menu_base_partner" />
        <menuitem name="Sale Activity Timeline" parent="sales_report" id="sale_activity_timeline_menu" action="sale_activity_timeline_action" />

        
        <!-- ORDER SUMMARY REPORT -->

        <record model="ir.module.category" id="module_category_order_summary_report">
            <field name="name">Order Summary Report Module</field>
        </record>

        <record model="res.groups" id="group_order_summary_report">
            <field name="category_id" ref="module_category_order_summary_report"/>
            <field name="name">Order Summary Report</field>
        </record>
        
        <record id="order_summary_report_action" model="ir.actions.client">
            <field name="name">Order Summary Report</field>
            <field name="tag">print.out</field>
            <field name="params">
                {
                    "redir":"http://192.168.9.26/OpenPrint/web/index.php?r=sale-order/sales-achievement"
                }
            </field>
        </record>
        <menuitem name="Order Summary Report" parent="sales_report" id="order_summary_report_sales_menu" action="order_summary_report_action" />



        <!-- INVOICE SUMMARY REPORT -->
        <record model="ir.module.category" id="module_category_invoice_summary_report">
            <field name="name">Invoice Summary Report Module</field>
        </record>

        <record model="res.groups" id="group_invoice_summary_report">
            <field name="category_id" ref="module_category_invoice_summary_report"/>
            <field name="name">Invoice Summary Report</field>
        </record>
        
        <record id="invoice_summary_report_action" model="ir.actions.client">
            <field name="name">Invoice Summary Report</field>
            <field name="tag">print.out</field>
            <field name="params">
                {
                    "redir":"http://192.168.9.26/OpenPrint/web/index.php?r=account-invoice/dashboard"
                }
            </field>
        </record>
        <menuitem name="Invoice Summary Report" parent="sales_report" id="invoice_summary_report_sales_menu" action="invoice_summary_report_action" />


        <!-- EXECUTIVE SUMMARY REPORT (GROUP) -->
        <record model="ir.module.category" id="module_category_executive_summary_group_report">
            <field name="name">Executive Summary Group Report Module</field>
        </record>

        <record model="res.groups" id="group_executive_summary_group_report">
            <field name="category_id" ref="module_category_executive_summary_group_report"/>
            <field name="name">Executive Summary Group Report</field>
        </record>
        
        <record id="executive_summary_group_report_action" model="ir.actions.client">
            <field name="name">Executive Summary Group Report</field>
            <field name="tag">print.out</field>
            <field name="params">
                {
                    "redir":"http://192.168.9.26/OpenPrint/web/index.php?r=account-invoice/executive-summary-by-group"
                }
            </field>
        </record>
        <menuitem name="Executive Summary Group Report" parent="sales_report" id="executive_summary_group_report_sales_menu" action="executive_summary_group_report_action" />


        <!-- EXECUTIVE SUMMARY REPORT (SALES MAN) -->
        <record model="ir.module.category" id="module_category_executive_summary_salesman_report">
            <field name="name">Executive Summary Sales Man Report Module</field>
        </record>

        <record model="res.groups" id="group_executive_summary_salesman_report">
            <field name="category_id" ref="module_category_executive_summary_salesman_report"/>
            <field name="name">Executive Summary Sales Man Report</field>
        </record>
        
        <record id="executive_summary_salesman_report_action" model="ir.actions.client">
            <field name="name">Executive Summary Sales Man Report</field>
            <field name="tag">print.out</field>
            <field name="params">
                {
                    "redir":"http://192.168.9.26/OpenPrint/web/index.php?r=account-invoice/executive-summary-by-sales-man"
                }
            </field>
        </record>
        <menuitem name="Executive Summary Sales Man Report" parent="sales_report" id="executive_summary_salesman_report_sales_menu" action="executive_summary_salesman_report_action" />
        <record model="res.groups" id="group_sale_order_cancel">
            <field name="category_id" ref="base.module_category_sales_management"/>
            <field name="name">Sale Order Cancel</field>
        </record>

        

        <!-- GROUP FOR INVOICE VALIDATOR USER -->
        <record model="res.groups" id="group_customer_invoice_validator">
            <field name="category_id" ref="base.module_category_accounting_and_finance"/>
            <field name="name">Customer Invoice Validator</field>
        </record>

        <!-- GROUP FOR INVOICE ADMINISTRATOR USER -->
        <record model="res.groups" id="group_customer_invoice_administrator">
            <field name="category_id" ref="base.module_category_accounting_and_finance"/>
            <field name="name">Customer Invoice Administrator</field>
        </record>

        <!-- GROUP FOR INVOICE USER WHO NOT AN INVOICE ADMINISTRATOR BUT CAN SET INVOICE TO DRAFT -->
        <record model="res.groups" id="group_customer_invoice_set_to_draft">
            <field name="category_id" ref="base.module_category_accounting_and_finance"/>
            <field name="name">Customer Invoice - Set to Draft</field>
        </record>


        <record model="res.groups" id="group_customer_invoice_admin_supervisor">
            <field name="category_id" ref="base.module_category_accounting_and_finance"/>
            <field name="name">Customer Invoice - Admin Supervisor</field>
        </record>

        <record model="res.groups" id="group_customer_invoice_admin_creator">
            <field name="category_id" ref="base.module_category_accounting_and_finance"/>
            <field name="name">Customer Invoice - Admin Creator</field>
        </record>
	</data>
</openerp>