<?xml version="1.0" encoding="UTF-8"?>
<openerp>
	<data>
		<record model="ir.actions.act_window" id="wizard_create_po_by_regular">
            <field name="name">Regular Requisition Process 2</field>
            <field name="res_model">set.po</field>
            <field name="type">ir.actions.act_window</field>
            <field name="view_type">form</field>
            <field name="view_mode">form</field>
            <field name="target">new</field>
            <field name="view_id" ref="sbm_purchase.view_set_po_form"/>
        </record>

        <menuitem name="Purchases" id="base.menu_purchase_root" groups="purchase.group_purchase_manager,purchase.group_purchase_user,sbm_purchase.group_jobdesc_position_dept_chief,sbm_purchase.group_jobdesc_position_dept_manager" sequence="60"/>

        <menuitem id="purchase.menu_procurement_management" name="Purchase" parent="base.menu_purchase_root" sequence="1"  groups="purchase.group_purchase_manager,purchase.group_purchase_user"/>

        <menuitem name="Order Rent Requisition" parent="purchase.menu_procurement_management" id="order_rent_requisition_menu" action="rent_requisition_order_action"/>

		<menuitem groups="base.group_user" action="wizard_rent_list_action" id="wizard_rent_order_menu" name="Create by Rent Requisition" parent="sbm_purchase.purchase_order_menu"/>
		
        <menuitem action="rent_requisition_list_action" id="rent_requisition_menu" name="Rent Requisition" parent="sbm_purchase.purchase_requistion_menu" sequence="3" groups="sbm_purchase.group_purchase_chief,purchase.group_purchase_manager,purchase.group_purchase_user"/>
			
	</data>
</openerp>