<?xml version="1.0" encoding="UTF-8"?>
<openerp>
	<data>
		<!-- Purchase -->
        <menuitem name="Purchases" id="base.menu_purchase_root"  groups="sbm_purchase.group_purchase_chief,sbm_purchase.group_finance_staff" sequence="60"/>

		<menuitem id="purchase.menu_procurement_management" name="Purchase" parent="base.menu_purchase_root" sequence="1"  groups="sbm_purchase.group_purchase_chief,sbm_purchase.group_finance_staff"/>

		<menuitem id="menu_purchase_order_petty_form" parent="purchase.menu_procurement_management" action="action_purchase_order_petty_form" groups="sbm_purchase.group_purchase_chief,purchase.group_purchase_user"/>
				
		<!-- Purchase Order -->
		<menuitem id="purchase_order_menu" name="Purchase Order" parent="base.menu_purchase_root" sequence="2" icon="terp-purchase" groups="sbm_purchase.group_purchase_chief"/>

		<menuitem groups="sbm_purchase.group_purchase_chief" name="Create by Regular Requisition" web_icon="static/image/texas.png" parent="purchase_order_menu" id="wizard_reguler_order_menu" action="sbm_purchase.master_wizard_list_action"/>

		<!-- Incoming Product -->
		<menuitem id="purchase.menu_procurement_management_inventory" name="Incoming Products" parent="base.menu_purchase_root" sequence="4" groups="sbm_purchase.group_purchase_chief"/>

	    <menuitem id="purchase.menu_procurement_management_invoice" name="Invoice Control" parent="base.menu_purchase_root" sequence="6" groups="sbm_purchase.group_finance_staff"/>
		
		<menuitem id="ad_purchase_subcont.menu_purchase_requisition_subcont_pro_mgt" sequence="4" parent="sbm_purchase.purchase_requistion_menu" action="ad_purchase_subcont.action_purchase_requisition_subcont" name="Subcount Requisition" groups="sbm_purchase.group_purchase_chief,purchase.group_purchase_manager,purchase.group_purchase_user"/>

		<menuitem id="product_detail_purchase_requistion_menu" name="Product Detail" parent="base.menu_purchase_root" sequence="3" groups="sbm_purchase.group_purchase_chief,purchase.group_purchase_manager,purchase.group_purchase_user,sbm_purchase.group_jobdesc_position_dept_chief,sbm_purchase.group_jobdesc_position_dept_manager"/>


	</data>

</openerp>

